07-bpel/ContractorProcess/contracts.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.--><!--Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.--><definitions targetNamespace="http://webinterface/" xmlns:tns="http://webinterface/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webinterface/" schemaLocation="contracts.xsd"/>
    </xsd:schema>
  </types>
  <message name="getSubmittedContracts">
    <part name="parameters" element="tns:getSubmittedContracts"/>
  </message>
  <message name="getSubmittedContractsResponse">
    <part name="parameters" element="tns:getSubmittedContractsResponse"/>
  </message>
  <message name="dismissFreelancer">
    <part name="parameters" element="tns:dismissFreelancer"/>
  </message>
  <message name="dismissFreelancerResponse">
    <part name="parameters" element="tns:dismissFreelancerResponse"/>
  </message>
  <message name="submitContract">
    <part name="parameters" element="tns:submitContract"/>
  </message>
  <message name="submitContractResponse">
    <part name="parameters" element="tns:submitContractResponse"/>
  </message>
  <message name="assignFreelancer">
    <part name="parameters" element="tns:assignFreelancer"/>
  </message>
  <message name="assignFreelancerResponse">
    <part name="parameters" element="tns:assignFreelancerResponse"/>
  </message>
  <message name="getContractInfo">
    <part name="parameters" element="tns:getContractInfo"/>
  </message>
  <message name="getContractInfoResponse">
    <part name="parameters" element="tns:getContractInfoResponse"/>
  </message>
  <portType name="ContractAccessPoint">
    <operation name="getSubmittedContracts">
      <input ns1:Action="http://webinterface/ContractAccessPoint/getSubmittedContractsRequest" message="tns:getSubmittedContracts" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://webinterface/ContractAccessPoint/getSubmittedContractsResponse" message="tns:getSubmittedContractsResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="dismissFreelancer">
      <input ns3:Action="http://webinterface/ContractAccessPoint/dismissFreelancerRequest" message="tns:dismissFreelancer" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://webinterface/ContractAccessPoint/dismissFreelancerResponse" message="tns:dismissFreelancerResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="submitContract">
      <input ns5:Action="http://webinterface/ContractAccessPoint/submitContractRequest" message="tns:submitContract" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://webinterface/ContractAccessPoint/submitContractResponse" message="tns:submitContractResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="assignFreelancer">
      <input ns7:Action="http://webinterface/ContractAccessPoint/assignFreelancerRequest" message="tns:assignFreelancer" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://webinterface/ContractAccessPoint/assignFreelancerResponse" message="tns:assignFreelancerResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getContractInfo">
      <input ns9:Action="http://webinterface/ContractAccessPoint/getContractInfoRequest" message="tns:getContractInfo" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://webinterface/ContractAccessPoint/getContractInfoResponse" message="tns:getContractInfoResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>