07-bpel/ContractorProcess/contracts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.--><xs:schema version="1.0" targetNamespace="http://webinterface/" xmlns:tns="http://webinterface/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="assignFreelancer" type="tns:assignFreelancer"/>
  <xs:element name="assignFreelancerResponse" type="tns:assignFreelancerResponse"/>
  <xs:element name="dismissFreelancer" type="tns:dismissFreelancer"/>
  <xs:element name="dismissFreelancerResponse" type="tns:dismissFreelancerResponse"/>
  <xs:element name="getContractInfo" type="tns:getContractInfo"/>
  <xs:element name="getContractInfoResponse" type="tns:getContractInfoResponse"/>
  <xs:element name="getSubmittedContracts" type="tns:getSubmittedContracts"/>
  <xs:element name="getSubmittedContractsResponse" type="tns:getSubmittedContractsResponse"/>
  <xs:element name="submitContract" type="tns:submitContract"/>
  <xs:element name="submitContractResponse" type="tns:submitContractResponse"/>
  <xs:complexType name="submitContract">
    <xs:sequence>
      <xs:element name="arg0" type="tns:contractInfo" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contractInfo">
    <xs:sequence>
      <xs:element name="customerId" type="xs:int"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="freelancerId" type="xs:int"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="jobType" type="xs:string" minOccurs="0"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="submitContractResponse">
    <xs:sequence>
      <xs:element name="success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dismissFreelancer">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dismissFreelancerResponse">
    <xs:sequence>
      <xs:element name="success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSubmittedContracts">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSubmittedContractsResponse">
    <xs:sequence>
      <xs:element name="customerIds" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="assignFreelancer">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="assignFreelancerResponse">
    <xs:sequence>
      <xs:element name="success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getContractInfo">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getContractInfoResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:contractInfo" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>