07-bpel/ContractorProcess/freelancers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.-->
<xs:schema version="1.0" targetNamespace="http://webinterface/" xmlns:tns="http://webinterface/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getCompatibleFreelancers" type="tns:getCompatibleFreelancers"/>
  <xs:element name="getCompatibleFreelancersResponse" type="tns:getCompatibleFreelancersResponse"/>
  <xs:element name="getFreelancerDetails" type="tns:getFreelancerDetails"/>
  <xs:element name="getFreelancerDetailsResponse" type="tns:getFreelancerDetailsResponse"/>
  <xs:complexType name="getCompatibleFreelancers">
    <xs:sequence>
      <xs:element name="jobType" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCompatibleFreelancersResponse">
    <xs:sequence>
      <xs:element name="freelancerIds" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFreelancerDetails">
    <xs:sequence>
      <xs:element name="freelancerId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFreelancerDetailsResponse">
    <xs:sequence>
      <xs:element name="freelancerInfo" type="tns:freelancerInfo" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="freelancerInfo">
    <xs:sequence>
      <xs:element name="hourlyRate" type="xs:int"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="jobTypes" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>