07-bpel/ContractorProcess/InitContractArtifacts.wsdl

<?xml version="1.0"?>
<definitions name="FreelancerAccessPoint"
        targetNamespace="http://contractor/"
        xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:app="http://contractor/" xmlns:p="http://www.w3.org/2001/XMLSchema">


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     SERVICE DEFINITION - A service groups a set of ports into
     a service unit.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <import location="http://127.0.0.1:8000/freelancers?wsdl"></import>
    <import location="http://127.0.0.1:8000/contracts?wsdl"></import>
    <types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://contractor/">
	<xsd:complexType name="ContractDetailsPart">
		<xsd:sequence>
			<xsd:element name="title" type="xsd:string" minOccurs="1"
				maxOccurs="1">
			</xsd:element>
			<xsd:element name="description" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="customerId" type="xsd:int" minOccurs="1" maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType></xsd:schema></types>
    <message name="ContractInfoMessage">
    	<part name="NewPart" type="app:ContractInfoType"></part>
    </message>
    <message name="ContractInitSuccessMessage">
    	<part name="ContractDetails" type="app:ContractDetailsPart"></part>
    </message>
    <portType name="InitiateContractPortType">
    	<operation name="InitContractOperation">
    		<input message="app:ContractInfoMessage" name="ContractInfoInput"></input>
    		<output message="app:ContractInitSuccessMessage" name="SuccessOutput"></output>
    	</operation>
    </portType>
    <binding name="InitiateContractSOAPBinding"
    	type="app:InitiateContractPortType">
    	<soap:binding style="document"
    		transport="http://schemas.xmlsoap.org/soap/http" />
    	<operation name="NewOperation">
    		<soap:operation soapAction="http://contractor/initiateContract" />
    		<input name="ContractInfoInput">
    			<soap:body use="literal" />
    		</input>
    		<output name="SuccessOutput">
    			<soap:body use="literal" />
    		</output>
    	</operation>
    </binding>
    <service name="InitContractService">
        <port name="IncomingContractInfoPort" binding="app:InitiateContractSOAPBinding">
        	<soap:address
        		location="http://localhost:8080/ode/InitContract" />
        </port>
    </service>
    <plnk:partnerLinkType name="ContractInitLinkType">
		<plnk:role
			name="InitExecutorRole"
			portType="tns:InitiateContractPortType" />
	</plnk:partnerLinkType>
</definitions>