00-exercises/calc_wsdl.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:ns="http://tempuri.org/" targetNamespace="http://tempuri.org/">

    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" elementFormDefault="qualified">
            <xs:element name="Add">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="intA" type="xs:int" />
                        <xs:element minOccurs="1" maxOccurs="1" name="intB" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AddResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="AddResult" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="AddRequestMessage">
        <wsdl:part name="AddRequestMessagePart" element="ns:Add"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="AddResponseMessage">
        <wsdl:part name="AddResponseMessagePart" element="ns:AddResponse"></wsdl:part>
    </wsdl:message>

    <wsdl:portType name="AddPortType">
        <wsdl:operation name="AddOperation">
            <wsdl:input message="ns:AddRequestMessage" />
            <wsdl:output message="ns:AddResponseMessage" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CalcSoapBinding" type="ns:AddPortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="AddOperation">
            <wsdlsoap:operation soapAction="http://tempuri.org/Add" />
            <wsdl:input>
                <wsdlsoap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="CalcService">
        <wsdl:port binding="ns:CalcSoapBinding" name="CalcSoapDemo">
            <wsdlsoap:address location="http://www.dneonline.com/calculator.asmx" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>