08-rest/generated-wadl/application.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 3.0.4 2022-02-08 17:22:15"/>
    <doc xmlns:jersey="http://jersey.java.net/" jersey:hint="This is simplified WADL with user and core resources only. To get full WADL with extended resources use the query parameter detail. Link: http://localhost:8080/RestContractorServer/webservice/application.wadl?detail=true"/>
    <grammars/>
    <resources base="http://localhost:8080/RestContractorServer/webservice/">
        <resource path="debug">
            <method id="getMemory" name="GET">
                <response>
                    <representation mediaType="*/*"/>
                </response>
            </method>
        </resource>
        <resource path="/freelancers">
            <resource path="/{freelancerId}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="freelancerId" style="template" type="xs:string"/>
                <method id="getFreelancerDetails" name="GET">
                    <response>
                        <representation mediaType="*/*"/>
                    </response>
                </method>
            </resource>
            <resource path="byJob/{jobType}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="jobType" style="template" type="xs:string"/>
                <method id="getCompatibleFreelancers" name="GET">
                    <response>
                        <representation mediaType="*/*"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="contracts">
            <method id="submitContract" name="POST">
                <request>
                    <representation mediaType="application/json"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="/by/{customerId}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="customerId" style="template" type="xs:string"/>
                <method id="getSubmittedContracts" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/dismiss/{contractId}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="contractId" style="template" type="xs:string"/>
                <method id="dismissFreelancer" name="PUT">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/assign/{contractId}/{freelancerId}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="freelancerId" style="template" type="xs:string"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="contractId" style="template" type="xs:string"/>
                <method id="assignFreelancer" name="PUT">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/info/{contractId}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="contractId" style="template" type="xs:string"/>
                <method id="getContractInfo" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>
